<h1>{{fullName}} ({{age}})</h1>
<h2><a href="/organisasjoner/partier/{{party.slug}}">{{party.name}}</a>
<a href="/distrikt/{{district}}">{{district}}</a></h2>

<img src="{{img}}" alt="{{fullName}}" width="331" height="442">
