<h1>{{fullName}} ({{age}})</h1>

<div>
    <a href="/organisasjoner/partier/{{party.slug}}">{{party.name}}</a>
        for
    <a href="/distrikter/{{district}}">{{district}}</a>
</div>

<img src="{{img}}" alt="{{fullName}}" width="331" height="442">

  {{#each propositions}}
  <li>{{this}}</li>
  {{/each}}
